body {
    font-family: sans-serif;
}
a{
    font-size: 30px;
    background-color: whitesmoke;
    color:darkgrey;
}
body{
    background-color:lightgrey;
}
footer{
    background-color: whitesmoke;
    font-size: 20px;
}
